<div data-w-id="8902ab60-ff18-1ad1-7b19-201b504196ac" data-animation="over-right" 
     data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="sidebar-wrapper w-nav" style="width: 350px; height: 800px;">
    <div class="overflow-hidden">
        <div class="sidebar-logo-section-container">
            <a href="/" class="sidebar-logo-link w-nav-brand"><img src="https://img.icons8.com/?size=1x&id=Nfkl7QFJapDX&format=png" loading="eager" alt="Budget - Logo"/></a>
            <div data-w-id="8902ab60-ff18-1ad1-7b19-201b504196b1" class="sidebar-collapsed-icon-btn-wrapper">
                <div class="sidebar-collapsed-icon-btn"><img src="https://img.icons8.com/?size=1x&id=Nfkl7QFJapDX&format=png" loading="eager" alt="Budget"/></div>
            </div>
            <div data-w-id="8902ab60-ff18-1ad1-7b19-201b504196b4" class="sidebar-collapse-icon-container"><img src="https://img.icons8.com/?size=1x&id=BTuIAI9yU8aG&format=png" loading="eager" alt="Menu"/></div>
        </div>
        <div class="sidebar-collapsed-divider"></div>
        <form action="/search" class="sidebar-search-wrapper w-form"><input type="search" class="input icon-inside-left w-input" maxlength="256" name="query" placeholder="Search for..." id="search" required=""/><input type="submit" value="" class="btn-inside-input-left w-button"/></form>
        <div class="position-relative---z-index-1 logo-and-icon-mobile-container">
            <nav role="navigation" class="sidebar-menu-container w-nav-menu">
                <div class="sidebar-menu-collapsed-overlay"></div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196bd" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Demo Pages</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper">
                            <a href="/monthYears" aria-current="page" class="sidebar-dropdown-link w-dropdown-link w--current">Month_Year</a>
                            <a href="/categories" class="sidebar-dropdown-link w-dropdown-link">Category</a>
                            <a href="/fontpayers" class="sidebar-dropdown-link w-dropdown-link">Font_Payer</a>
                            <a href="/expensetypes" class="sidebar-dropdown-link w-dropdown-link">Expense_Type</a>
                            <a href="/paytypes" class="sidebar-dropdown-link w-dropdown-link">Pay_Type</a>
                            <a href="/aporties" class="sidebar-dropdown-link w-dropdown-link">Aporty</a>
                        </div>
                    </nav>
                </div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196ce" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Dashboard</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper"><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">All pages</a><a href="/reports" aria-current="page" class="sidebar-dropdown-link w-dropdown-link w--current">Reports</a><a href="/products" class="sidebar-dropdown-link w-dropdown-link">Products</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Tasks</a></div>
                    </nav>
                </div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196e1" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Features</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper"><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">All pages</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Contacts</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Companies</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Projects</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Tasks</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Board</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Table</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Crypto</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">And many more pages!</a></div>
                    </nav>
                </div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196fe" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Users</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper"><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">All pages</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Profile V1</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Profile V2</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Profile V3</a></div>
                    </nav>
                </div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419711" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Pricing</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper"><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">All pages</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Pricing V1</a><a href="/pricing" class="sidebar-dropdown-link w-dropdown-link">Pricing V2</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Pricing V3</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Pricing Single</a></div>
                    </nav>
                </div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419726" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Integrations</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper"><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">All pages</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Integrations</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Integration single</a></div>
                    </nav>
                </div>
                <div class="sidebar-divider"></div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419738" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Component Library</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper">
                            <a href="/component-library/buttons" class="sidebar-dropdown-link icon-left w-inline-block">
                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/64222911a1583285d6c4c47a_buttons-component-icon-small-dashdark-webflow-template.svg" loading="eager" alt="Buttons - Dashdark X Webflow Template" class="max-w-20px"/>
                                <div>Buttons</div>
                            </a>
                            <a href="/component-library/badges" class="sidebar-dropdown-link icon-left w-inline-block">
                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/64236a4c172791636ebb342f_badges-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Badges - Dashdark X Webflow Template" class="max-w-20px"/>
                                <div>Badges</div>
                            </a>
                            <a href="/component-library/dropdowns" class="sidebar-dropdown-link icon-left w-inline-block">
                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/64236a4ba76410b9aa42faba_dropdowns-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Dropdowns - Dashdark X Webflow Template" class="max-w-20px"/>
                                <div>Dropdowns</div>
                            </a>
                            <a href="/component-library/cards" class="sidebar-dropdown-link icon-left w-inline-block">
                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/64236a4cbebc859bb4336562_cards-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Cards - Dashdark X Webflow Template" class="max-w-20px"/>
                                <div>Cards</div>
                            </a>
                            <a href="/component-library/layout" class="sidebar-dropdown-link icon-left w-inline-block">
                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/643ece40e79d39815dae734e_layout-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Layout - Dashdark X Webflow Template" class="max-w-20px"/>
                                <div>Layout</div>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="sidebar-divider"></div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419758" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Settings</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper"><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">All pages</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Settings V1</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Settings V2</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Settings V3</a></div>
                    </nav>
                </div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b5041976b" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex">
                            <div class="dashdark-custom-icon sidebar-link-icon"></div>
                            <div class="text-200 sidebar-dropdown-text">Template pages</div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper w-dropdown-list">
                        <div class="sidebar-dropdown-inner-wrapper"><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">All pages</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Start here</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Licenses</a><a href="/coming-soon" class="sidebar-dropdown-link w-dropdown-link">Changelog</a></div>
                    </nav>
                </div>
                <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b5041977e" class="dropdown-wrapper sidebar-dropdown w-dropdown">
                    <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle">
                        <div class="flex align-center gap-column-8px">
                            <img src="https://img.icons8.com/?size=1x&id=108639&format=png" 
                            loading="eager" sizes="(max-width: 991px) 100vw, (max-width: 1439px) 32px, (max-width: 1919px) 2vw, 32px" 
                            srcset="https://img.icons8.com/?size=1x&id=108639&format=png 500w, https://img.icons8.com/?size=1x&id=108639&format=png 600w" 
                            alt="John Carter - Dashdark X Webflow Template" class="avatar-circle _01"/>
                            <div class="sidebar-user-text-container">
                                <div class="text-200 sidebar-dropdown-text color-neutral-100">{{ nome }}</div>
                                <div class="text-100 sidebar-dropdown-text color-neutral-400">Account settings</div>
                            </div>
                        </div>
                        <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
                    </div>
                    <nav class="sidebar-dropdown-list-wrapper sidebar-account-settings-list w-dropdown-list">
                        <div class="flex-vertical">
                            <div class="grid-1-column gap-row-16px">
                                <a id="w-node-_8902ab60-ff18-1ad1-7b19-201b5041978c-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block">
                                    <div class="dashdark-custom-icon"></div>
                                    <div class="text-100 medium">View profile</div>
                                </a>
                                <a id="w-node-_8902ab60-ff18-1ad1-7b19-201b50419791-504196ac" href="/admin" class="font-icon-left-link w-inline-block">
                                    <div class="dashdark-custom-icon"></div>
                                    <div class="text-100 medium">Profile settings</div>
                                </a>
                                <a id="w-node-_8902ab60-ff18-1ad1-7b19-201b50419796-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block">
                                    <div class="dashdark-custom-icon"></div>
                                    <div class="text-100 medium">Notifications</div>
                                </a>
                            </div>
                            <div class="sidebar-account-settings-divider"></div>
                            <div class="grid-1-column gap-row-16px">
                                <a id="w-node-_8902ab60-ff18-1ad1-7b19-201b5041979d-504196ac" href="/sobre" class="font-icon-left-link w-inline-block">
                                    <div class="dashdark-custom-icon"></div>
                                    <div class="text-100 medium">Sobre</div>
                                </a>
                                <a id="w-node-_8902ab60-ff18-1ad1-7b19-201b504197a2-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block">
                                    <div class="dashdark-custom-icon"></div>
                                    <div class="text-100 medium">Support</div>
                                </a>
                                <a id="w-node-_8902ab60-ff18-1ad1-7b19-201b504197a7-504196ac" href="/coming-soon" class="font-icon-left-link color-red-300 w-inline-block">
                                    <div class="dashdark-custom-icon"></div>
                                    <div class="text-100 medium">Log out</div>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="sidebar-btn-wrapper">
                    <div data-w-id="8902ab60-ff18-1ad1-7b19-201b504197ad" class="flex-vertical">
                        <a href="#" class="btn-primary large w-inline-block">
                            <div class="flex-horizontal gap-column-8px">
                                <div>Get template</div>
                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641b63dda3f38370c23f0133_btn-arrow-right-dashdark-webflow-template.svg" loading="eager" alt="" class="btn-icon-right max-h-16px"/>
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
            <a href="#" class="sidebar-logo-link show-on-tablet w-nav-brand"><img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641a2d329b8258d3a0f500ac_logo-dashdark-webflow-template.svg" loading="eager" alt="Dashdark X Webflow Template - Logo"/></a>
            <div class="hamburger-menu-wrapper w-nav-button">
                <div class="sidebar-mobile-menu-icon-wrapper">
                    <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641b92b6945322a81497dbc3_sidebar-mobile-collapse-icon-left-dashdark-webflow-template.svg" 
                         loading="eager" alt="" class="sidebar-mobile-menu-icon left"/><img 
                         src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641b92b6db1c7a0a1d8c0926_sidebar-mobile-collapse-icon-right-dashdark-webflow-template.svg" 
                         loading="eager" alt="" class="sidebar-mobile-menu-icon right"/>
                </div>
            </div>
        </div>
    </div>
</div>