{% include 'partials/head.html' %}
{% load static %}

    <body>
        <div style="opacity:0" class="page-wrapper">
            
            {% include 'partials/menu.html' %}
            <link rel="srtylesheet" href="{% static 'css/styles.css'%}">

            <div class="dashboard-main-section">
                <div class="sidebar-spacer"></div>
                <div class="dashboard-content">
                    <div class="dashboard-main-content">
                        <div class="container-default w-container">
                            <div class="mg-bottom-32px">
                                <div class="_2-items-wrap-container">
                                    <div id="w-node-_4e606362-eabc-753a-260a-8d85f152b3ca-8a6db5cd">
                                        <h1 class="display-4 mg-bottom-4px">Welcome back, {{ nome }}</h1>
                                        <p class="mg-bottom-0">Best personal financial control application</p>
                                    </div>
                                    <div id="w-node-_2a4873d0-6574-1dad-be43-8662a1f2809d-8a6db5cd" class="buttons-row">
                                        <a href="#" class="btn-secondary w-inline-block">
                                            <div class="flex-horizontal gap-column-6px">
                                                <div>Export data</div>
                                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641c78e9b2e8f3ffa9565302_downward-arrow-btn-icon-dashdark-webflow-ecommerce-template.svg" loading="eager" alt="" class="btn-icon-right max-h-12px"/>
                                            </div>
                                        </a>
                                        <a href="#" class="btn-primary w-inline-block">
                                            <div class="flex-horizontal gap-column-6px">
                                                <div>Create report</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-bottom-16px">
                                <div class="small-details-card-grid">
                                    <div id="w-node-_9745c905-0e47-203d-ac6e-d1bee1ec357d-e1ec357d" class="card top-details">
                                        <div class="flex-horizontal justify-space-between">
                                            <div class="flex align-center gap-column-4px">
                                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641c8e6d2c20c4cbdf044b29_pageviews-icon-dashdark-webflow-template.svg" loading="eager" alt="Pageviews - Dashdark X Webflow Template" class="max-h-16px"/>
                                                <div class="text-100 medium mg-top-2px">Recipes</div>
                                            </div>
                                            <div class="dashdark-custom-icon details-icon"></div>
                                        </div>
                                        <div class="flex align-center gap-column-6px">
                                            <div class="display-4">5.900K</div>
                                            <div>
                                                <div class="status-badge green">
                                                    <div class="flex align-center gap-column-4px">
                                                        <div class="paragraph-small">9.4%</div>
                                                    </div>
                                                    <div class="dashdark-custom-icon icon-size-9px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="w-node-_9745c905-0e47-203d-ac6e-d1bee1ec357d-e1ec357d" class="card top-details">
                                        <div class="flex-horizontal justify-space-between">
                                            <div class="flex align-center gap-column-4px">
                                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641c8e6d64e317f6bb4a6869_monthly-users-icon-dashdark-webflow-template.svg" loading="eager" alt="Monthly Users - Dashdark X Webflow Template" class="max-h-16px"/>
                                                <div class="text-100 medium mg-top-2px">Expenses</div>
                                            </div>
                                            <div class="dashdark-custom-icon details-icon"></div>
                                        </div>
                                        <div class="flex align-center gap-column-6px">
                                            <div class="display-4">5.730K</div>
                                            <div>
                                                <div class="status-badge red">
                                                    <div class="flex align-center gap-column-4px">
                                                        <div class="paragraph-small">90.6%</div>
                                                    </div>
                                                    <div class="dashdark-custom-icon icon-size-9px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="w-node-_9745c905-0e47-203d-ac6e-d1bee1ec357d-e1ec357d" class="card top-details">
                                        <div class="flex-horizontal justify-space-between">
                                            <div class="flex align-center gap-column-4px">
                                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641c8e6dfeae427f59b8bcf5_new-sign-ups-icon-dashdark-webflow-template.svg" loading="eager" alt="New Sign Ups - Dashdark X Webflow Template" class="max-h-16px"/>
                                                <div class="text-100 medium mg-top-2px">Balance</div>
                                            </div>
                                            <div class="dashdark-custom-icon details-icon"></div>
                                        </div>
                                        <div class="flex align-center gap-column-6px">
                                            <div class="display-4">170</div>
                                            <div>
                                                <div class="status-badge green">
                                                    <div class="flex align-center gap-column-4px">
                                                        <div class="paragraph-small">3.1%</div>
                                                    </div>
                                                    <div class="dashdark-custom-icon icon-size-9px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="w-node-_9745c905-0e47-203d-ac6e-d1bee1ec357d-e1ec357d" class="card top-details">
                                        <div class="flex-horizontal justify-space-between">
                                            <div class="flex align-center gap-column-4px">
                                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641c8e6d696b566d251041bb_subscriptions-icon-dashdark-webflow-template.svg" loading="eager" alt="Subscriptions - Dashdark X Webflow Template" class="max-h-16px"/>
                                                <div class="text-100 medium mg-top-2px">Protect Money</div>
                                            </div>
                                            <div class="dashdark-custom-icon details-icon"></div>
                                        </div>
                                        <div class="flex align-center gap-column-6px">
                                            <div class="display-4">2.3K</div>
                                            <div>
                                                <div class="status-badge green">
                                                    <div class="flex align-center gap-column-4px">
                                                        <div class="paragraph-small">11.3%</div>
                                                    </div>
                                                    <div class="dashdark-custom-icon icon-size-9px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-bottom-40px">
                                <div class="card">
                                    <div class="grid-2-columns _1-82fr---1fr gap-0">
                                        <div id="w-node-_75f748dc-9ded-293d-f0a3-80b0ff3921a6-8a6db5cd" class="border-right-6px---secondary-4 border-bottom-6px---secondary-4-mbl">
                                            <div id="w-node-e4606960-bd5c-8b3f-1d6d-99e18036d7a5-8036d7a5" class="graph-large-section-container">
                                                <div class="_2-items-wrap-container mg-bottom-24px">
                                                    <div>
                                                        <div class="text-200 medium mg-bottom-10px">Total revenue</div>
                                                        <div class="flex align-center gap-column-6px">
                                                            <div class="display-4">$240.8K</div>
                                                            <div>
                                                                <div>
                                                                    <div class="status-badge green">
                                                                        <div class="flex align-center gap-column-4px">
                                                                            <div class="small-dot _4px bg-green-300"></div>
                                                                            <div class="paragraph-small">24.6%</div>
                                                                        </div>
                                                                        <div class="dashdark-custom-icon icon-size-9px"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="_2-items-wrap-container gap-column-16px">
                                                        <div class="flex align-center gap-column-24px">
                                                            <div class="flex align-center gap-column-8px">
                                                                <div class="small-dot"></div>
                                                                <div class="text-100 medium">Revenue</div>
                                                            </div>
                                                            <div class="flex align-center gap-column-8px">
                                                                <div class="small-dot bg-secondary-3"></div>
                                                                <div class="text-100 medium">Expenses</div>
                                                            </div>
                                                        </div>
                                                        <div data-hover="true" data-delay="0" data-w-id="9cc462d8-bb30-3faf-01e2-89a59eb05ad4" class="mg-sides-0 position-relative---z-index-1 w-dropdown">
                                                            <div class="small-dropdown-toggle w-dropdown-toggle">
                                                                <div class="flex align-center gap-column-4px">
                                                                    <div class="dashdark-custom-icon line-height-1em"></div>
                                                                    <div class="text-50 medium">Jan 2024 - Dec 2024</div>
                                                                </div>
                                                                <div class="line-rounded-icon card-dropdown-arrow"></div>
                                                            </div>
                                                            <nav class="small-dropdown-list w-dropdown-list">
                                                                <div class="small-dropdown-links-container"><a href="#" class="small-dropdown-link w-dropdown-link">Jan 2023 - Dec 2023</a><a href="#" class="small-dropdown-link w-dropdown-link">Jan 2022 - Dec 2022</a><a href="#" class="small-dropdown-link w-dropdown-link">Jan 2021 - Dec 2021</a></div>
                                                            </nav>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div><img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641ca513f122595150f095b1_total-revenue-graph-dashdark-webflow-template.svg" loading="eager" alt="" class="width-100"/></div>
                                            </div>
                                        </div>
                                        <div id="w-node-_270ba7dd-4cbf-fe59-201e-ecc80a9bb262-8a6db5cd" class="grid-1-column _2-small-sections-grid">
                                            <div id="w-node-fb9a14d8-8743-6074-2bca-f3e1b3fa76b9-8a6db5cd" class="border-bottom-6---secondary-4">
                                                <div class="graph-small-section-container">
                                                    <div class="mg-bottom-4px">
                                                        <div class="flex align-center gap-column-4px">
                                                            <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641cbc17f7900d585da9c46e_total-profit-icon-left-dashdark-webflow-ecommerce-template.svg" loading="eager" alt="Total Profit - Dashdark X Webflow Template" class="max-h-16px"/>
                                                            <div class="text-100 medium mg-top-2px">Total profit</div>
                                                        </div>
                                                    </div>
                                                    <div class="mg-bottom-24px">
                                                        <div class="flex align-center gap-column-6px">
                                                            <div class="display-4">$144.6K</div>
                                                            <div>
                                                                <div>
                                                                    <div class="status-badge green">
                                                                        <div class="flex align-center gap-column-4px">
                                                                            <div class="small-dot _4px bg-green-300"></div>
                                                                            <div class="paragraph-small">28.5%</div>
                                                                        </div>
                                                                        <div class="dashdark-custom-icon icon-size-9px"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div><img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641cbce7975fcdaf1ca3bb34_total-profits-graph-dashdark-webflow-template.svg" loading="eager" alt="" class="width-100 mg-bottom-auto"/></div>
                                                    <div class="divider"></div>
                                                    <div class="_2-items-wrap-container">
                                                        <div class="text-100">Last 12 months</div>
                                                        <a href="#" class="text-100 text-decoration-none">View report</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-small-section-container">
                                                <div class="mg-bottom-4px">
                                                    <div class="flex align-center gap-column-4px">
                                                        <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641cbc17507bc07bcfe13039_total-sessions-icon-left-dashdark-webflow-ecommerce-template.svg" loading="eager" alt="Total Sessions - Dashdark X Webflow Template" class="max-h-16px"/>
                                                        <div class="text-100 medium mg-top-2px">Total sessions</div>
                                                    </div>
                                                </div>
                                                <div class="mg-bottom-24px">
                                                    <div class="flex align-center gap-column-6px">
                                                        <div class="display-4">400</div>
                                                        <div>
                                                            <div>
                                                                <div class="status-badge green">
                                                                    <div class="flex align-center gap-column-4px">
                                                                        <div class="paragraph-small">16.8%</div>
                                                                    </div>
                                                                    <div class="dashdark-custom-icon icon-size-9px"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div><img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641cbce7fad2b35b97fb1a71_total-sessions-graph-dashdark-webflow-template.svg" loading="eager" alt="" class="width-100 mg-bottom-auto"/></div>
                                                <div class="divider"></div>
                                                <div class="_2-items-wrap-container">
                                                    <div class="flex align-center gap-column-6px">
                                                        <div class="status-badge green">
                                                            <div class="flex align-center gap-column-4px">
                                                                <div class="small-dot _4px bg-green-300"></div>
                                                                <div class="paragraph-small">Live</div>
                                                            </div>
                                                        </div>
                                                        <div class="text-100 medium color-neutral-500">10k visitors</div>
                                                    </div>
                                                    <a href="#" class="text-100 text-decoration-none">View report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-bottom-24px">
                                <div class="_2-items-wrap-container align-end">
                                    <div>
                                        <h2 class="display-4">Reports overview</h2>
                                        <div data-hover="true" data-delay="0" data-w-id="9cc462d8-bb30-3faf-01e2-89a59eb05ad4" class="mg-sides-0 position-relative---z-index-1 w-dropdown">
                                            <div class="small-dropdown-toggle w-dropdown-toggle">
                                                <div class="flex align-center gap-column-4px">
                                                    <div class="dashdark-custom-icon line-height-1em"></div>
                                                    <div class="text-50 medium">Select date</div>
                                                </div>
                                                <div class="line-rounded-icon card-dropdown-arrow"></div>
                                            </div>
                                            <nav class="small-dropdown-list w-dropdown-list">
                                                <div class="small-dropdown-links-container"><a href="#" class="small-dropdown-link w-dropdown-link">Jan 2024 - Dec 2024</a><a href="#" class="small-dropdown-link w-dropdown-link">Jan 2023 - Dec 2023</a><a href="#" class="small-dropdown-link w-dropdown-link">Jan 2022 - Dec 2022</a></div>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="buttons-row">
                                        <a href="#" class="btn-secondary w-inline-block">
                                            <div class="flex-horizontal gap-column-6px">
                                                <div>Export data</div>
                                                <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641c78e9b2e8f3ffa9565302_downward-arrow-btn-icon-dashdark-webflow-ecommerce-template.svg" loading="eager" alt="" class="btn-icon-right max-h-12px"/>
                                            </div>
                                        </a>
                                        <a href="#" class="btn-primary w-inline-block">
                                            <div class="flex-horizontal gap-column-6px">
                                                <div>Create report</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mg-bottom-24px">
                                <div class="grid-2-columns gap-20px">
                                    <div id="w-node-afd54bfe-8a78-7961-b11b-7a8bd9f9254d-d9f9254d" class="card pd-30px---36px">
                                        <div class="mg-bottom-64px">
                                            <div class="inner-container _252px center">
                                                <div><img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641cd3689f3d33cabf382e16_users-by-device-dashdark-webflow-template.svg" loading="eager" alt=""/></div>
                                            </div>
                                        </div>
                                        <div class="_2-items-wrap-container">
                                            <div class="flex align-center gap-column-8px">
                                                <div class="small-dot"></div>
                                                <div class="text-200">Desktop users</div>
                                            </div>
                                            <div class="text-300 medium color-neutral-200">15,624</div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="_2-items-wrap-container">
                                            <div class="flex align-center gap-column-8px">
                                                <div class="small-dot bg-secondary-2"></div>
                                                <div class="text-200">Phone app users</div>
                                            </div>
                                            <div class="text-300 medium color-neutral-200">5,546</div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="_2-items-wrap-container">
                                            <div class="flex align-center gap-column-8px">
                                                <div class="small-dot bg-secondary-3"></div>
                                                <div class="text-200">Laptop users</div>
                                            </div>
                                            <div class="text-300 medium color-neutral-200">2,478</div>
                                        </div>
                                    </div>
                                    <div id="w-node-_38b4a65e-7f82-4f13-d3fc-261e38ea4042-8a6db5cd">
                                        <div id="w-node-_28f58b49-e289-bfad-3672-3ddb30359092-30359092" class="grid-1-column">
                                            <div class="card overflow-hidden">
                                                <div class="_2-items-wrap-container pd-32px---28px">
                                                    <div class="text-300 medium color-neutral-100">Recent orders</div>
                                                    <div data-hover="true" data-delay="0" data-w-id="9cc462d8-bb30-3faf-01e2-89a59eb05ad4" class="mg-sides-0 position-relative---z-index-1 w-dropdown">
                                                        <div class="small-dropdown-toggle w-dropdown-toggle">
                                                            <div class="flex align-center gap-column-4px">
                                                                <div class="dashdark-custom-icon line-height-1em"></div>
                                                                <div class="text-50 medium">Jan 2024</div>
                                                            </div>
                                                            <div class="line-rounded-icon card-dropdown-arrow"></div>
                                                        </div>
                                                        <nav class="small-dropdown-list w-dropdown-list">
                                                            <div class="small-dropdown-links-container"><a href="#" class="small-dropdown-link w-dropdown-link">Dec 2023</a><a href="#" class="small-dropdown-link w-dropdown-link">Nov 2023</a><a href="#" class="small-dropdown-link w-dropdown-link">Oct 2023</a></div>
                                                        </nav>
                                                    </div>
                                                </div>
                                                <div class="table-main-container">
                                                    <div class="recent-orders-table-row table-header">
                                                        <div id="w-node-_81082dec-aeb1-55cb-ca1b-8966496bda6e-496bda6e" class="flex align-center gap-column-6px">
                                                            <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641dd7eae0f2ad5d3735f856_order-table-header-icon-dashdark-webflow-template.svg" loading="eager" alt=""/>
                                                            <div class="text-50 semibold color-neutral-100">Order</div>
                                                        </div>
                                                        <div id="w-node-_81082dec-aeb1-55cb-ca1b-8966496bda6e-496bda6e" class="flex align-center gap-column-6px">
                                                            <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641dd7ea9f20247c4d9f0cd8_date-table-header-icon-dashdark-webflow-template.svg" loading="eager" alt=""/>
                                                            <div class="text-50 semibold color-neutral-100">Date</div>
                                                        </div>
                                                        <div id="w-node-_81082dec-aeb1-55cb-ca1b-8966496bda6e-496bda6e" class="flex align-center gap-column-6px">
                                                            <img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641dd7eaa220663f98fd0a54_status-table-header-icon-dashdark-webflow-template.svg" loading="eager" alt=""/>
                                                            <div class="text-50 semibold color-neutral-100">Status</div>
                                                        </div>
                                                        <div id="w-node-e477ce2d-e7d4-4ff4-1cc7-a3854c37ad1b-30359092">
                                                            <div id="w-node-_81082dec-aeb1-55cb-ca1b-8966496bda6e-496bda6e" class="flex align-center gap-column-6px">
                                                                <div class="text-50 semibold color-neutral-100">Total</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="recent-orders-table-row">
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a5f-1b609a5a" class="flex align-center">
                                                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                                                                <form id="email-form" name="email-form" data-name="Email Form" method="get">
                                                                    <label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                                                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"/><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                                                    </label>
                                                                </form>
                                                                <div class="w-form-done">
                                                                    <div>Thank you! Your submission has been received!</div>
                                                                </div>
                                                                <div class="w-form-fail">
                                                                    <div>Oops! Something went wrong while submitting the form.</div>
                                                                </div>
                                                            </div>
                                                            <div class="paragraph-small color-neutral-100">#1532</div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a72-1b609a5a" class="paragraph-small color-neutral-100">Dec 30, 10:06 AM</div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a78-1b609a5a">
                                                            <div>
                                                                <div class="status-badge green">
                                                                    <div class="flex align-center gap-column-4px">
                                                                        <div class="small-dot _4px bg-green-300"></div>
                                                                        <div class="paragraph-small">Paid</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a7e-1b609a5a" class="paragraph-small color-neutral-100">$ 329.40</div>
                                                    </div>
                                                    <div class="recent-orders-table-row">
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a5f-1b609a5a" class="flex align-center">
                                                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                                                                <form id="email-form" name="email-form" data-name="Email Form" method="get">
                                                                    <label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                                                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"/><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                                                    </label>
                                                                </form>
                                                                <div class="w-form-done">
                                                                    <div>Thank you! Your submission has been received!</div>
                                                                </div>
                                                                <div class="w-form-fail">
                                                                    <div>Oops! Something went wrong while submitting the form.</div>
                                                                </div>
                                                            </div>
                                                            <div class="paragraph-small color-neutral-100">#1531</div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a72-1b609a5a" class="paragraph-small color-neutral-100">Dec 29, 2:59 AM</div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a78-1b609a5a">
                                                            <div>
                                                                <div class="status-badge yellow">
                                                                    <div class="flex align-center gap-column-4px">
                                                                        <div class="small-dot _4px bg-secondary-5"></div>
                                                                        <div class="paragraph-small">Pending</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a7e-1b609a5a" class="paragraph-small color-neutral-100">$ 117.24</div>
                                                    </div>
                                                    <div class="recent-orders-table-row">
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a5f-1b609a5a" class="flex align-center">
                                                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                                                                <form id="email-form" name="email-form" data-name="Email Form" method="get">
                                                                    <label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                                                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"/><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                                                    </label>
                                                                </form>
                                                                <div class="w-form-done">
                                                                    <div>Thank you! Your submission has been received!</div>
                                                                </div>
                                                                <div class="w-form-fail">
                                                                    <div>Oops! Something went wrong while submitting the form.</div>
                                                                </div>
                                                            </div>
                                                            <div class="paragraph-small color-neutral-100">#1530</div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a72-1b609a5a" class="paragraph-small color-neutral-100">Dec 29, 12:54 AM</div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a78-1b609a5a">
                                                            <div>
                                                                <div class="status-badge yellow">
                                                                    <div class="flex align-center gap-column-4px">
                                                                        <div class="small-dot _4px bg-secondary-5"></div>
                                                                        <div class="paragraph-small">Pending</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a7e-1b609a5a" class="paragraph-small color-neutral-100">$ 52.16</div>
                                                    </div>
                                                    <div class="recent-orders-table-row">
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a5f-1b609a5a" class="flex align-center">
                                                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                                                                <form id="email-form" name="email-form" data-name="Email Form" method="get">
                                                                    <label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                                                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"/><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                                                    </label>
                                                                </form>
                                                                <div class="w-form-done">
                                                                    <div>Thank you! Your submission has been received!</div>
                                                                </div>
                                                                <div class="w-form-fail">
                                                                    <div>Oops! Something went wrong while submitting the form.</div>
                                                                </div>
                                                            </div>
                                                            <div class="paragraph-small color-neutral-100">#1529</div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a72-1b609a5a" class="paragraph-small color-neutral-100">Dec 28, 2:32 PM</div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a78-1b609a5a">
                                                            <div>
                                                                <div class="status-badge green">
                                                                    <div class="flex align-center gap-column-4px">
                                                                        <div class="small-dot _4px bg-green-300"></div>
                                                                        <div class="paragraph-small">Paid</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a7e-1b609a5a" class="paragraph-small color-neutral-100">$ 350.52</div>
                                                    </div>
                                                    <div class="recent-orders-table-row">
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a5f-1b609a5a" class="flex align-center">
                                                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                                                                <form id="email-form" name="email-form" data-name="Email Form" method="get">
                                                                    <label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                                                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"/><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                                                    </label>
                                                                </form>
                                                                <div class="w-form-done">
                                                                    <div>Thank you! Your submission has been received!</div>
                                                                </div>
                                                                <div class="w-form-fail">
                                                                    <div>Oops! Something went wrong while submitting the form.</div>
                                                                </div>
                                                            </div>
                                                            <div class="paragraph-small color-neutral-100">#1528</div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a72-1b609a5a" class="paragraph-small color-neutral-100">Dec 27, 2:20 PM</div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a78-1b609a5a">
                                                            <div>
                                                                <div class="status-badge yellow">
                                                                    <div class="flex align-center gap-column-4px">
                                                                        <div class="small-dot _4px bg-secondary-5"></div>
                                                                        <div class="paragraph-small">Pending</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a7e-1b609a5a" class="paragraph-small color-neutral-100">$ 246.78</div>
                                                    </div>
                                                    <div class="recent-orders-table-row">
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a5f-1b609a5a" class="flex align-center">
                                                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                                                                <form id="email-form" name="email-form" data-name="Email Form" method="get">
                                                                    <label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                                                        <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"/><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                                                    </label>
                                                                </form>
                                                                <div class="w-form-done">
                                                                    <div>Thank you! Your submission has been received!</div>
                                                                </div>
                                                                <div class="w-form-fail">
                                                                    <div>Oops! Something went wrong while submitting the form.</div>
                                                                </div>
                                                            </div>
                                                            <div class="paragraph-small color-neutral-100">#1527</div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a72-1b609a5a" class="paragraph-small color-neutral-100">Dec 26, 9:48 AM</div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a78-1b609a5a">
                                                            <div>
                                                                <div class="status-badge green">
                                                                    <div class="flex align-center gap-column-4px">
                                                                        <div class="small-dot _4px bg-green-300"></div>
                                                                        <div class="paragraph-small">Paid</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="w-node-_0b909741-5d5c-5abc-5f7b-bcb01b609a7e-1b609a5a" class="paragraph-small color-neutral-100">$ 64.00</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="grid-2-columns _1fr---2-05fr gap-0">
                                    <div id="w-node-b4227586-6384-6fdc-9144-f788b42bc8e8-b42bc8e6" class="percentage-bars-small-section-container">
                                        <div class="_2-items-wrap-container mg-bottom-24px">
                                            <div class="grid-1-column gap-row-4px">
                                                <div class="text-300 medium color-neutral-100">Users by country</div>
                                                <div class="flex align-center gap-column-6px">
                                                    <div class="display-4">12.4 K</div>
                                                    <div>
                                                        <div>
                                                            <div class="status-badge green">
                                                                <div class="flex align-center gap-column-4px">
                                                                    <div class="small-dot _4px bg-green-300"></div>
                                                                    <div class="paragraph-small">28.5%</div>
                                                                </div>
                                                                <div class="dashdark-custom-icon icon-size-9px"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="btn-secondary w-inline-block">
                                                <div class="flex-horizontal gap-column-6px">
                                                    <div>Export</div>
                                                    <img src="" loading="eager" alt="" class="btn-icon-right max-h-12px"/>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="grid-1-column gap-row-24px">
                                            <div id="w-node-b4227586-6384-6fdc-9144-f788b42bc8f3-b42bc8e6">
                                                <div class="text-100">United states</div>
                                                <div class="flex align-center gap-column-20px">
                                                    <div class="progress-bar">
                                                        <div class="inner-progress-bar width-30"></div>
                                                    </div>
                                                    <div class="text-100">30%</div>
                                                </div>
                                            </div>
                                            <div id="w-node-b4227586-6384-6fdc-9144-f788b42bc8fb-b42bc8e6">
                                                <div class="text-100">United Kingdom</div>
                                                <div class="flex align-center gap-column-20px">
                                                    <div class="progress-bar">
                                                        <div class="inner-progress-bar width-20 bg-neutral-500"></div>
                                                    </div>
                                                    <div class="text-100">20%</div>
                                                </div>
                                            </div>
                                            <div id="w-node-b4227586-6384-6fdc-9144-f788b42bc903-b42bc8e6">
                                                <div class="text-100">Canada</div>
                                                <div class="flex align-center gap-column-20px">
                                                    <div class="progress-bar">
                                                        <div class="inner-progress-bar width-20 bg-secondary-2"></div>
                                                    </div>
                                                    <div class="text-100">20%</div>
                                                </div>
                                            </div>
                                            <div id="w-node-b4227586-6384-6fdc-9144-f788b42bc90b-b42bc8e6">
                                                <div class="text-100">Australia</div>
                                                <div class="flex align-center gap-column-20px">
                                                    <div class="progress-bar">
                                                        <div class="inner-progress-bar width-15 bg-secondary-3"></div>
                                                    </div>
                                                    <div class="text-100">15%</div>
                                                </div>
                                            </div>
                                            <div id="w-node-b4227586-6384-6fdc-9144-f788b42bc913-b42bc8e6">
                                                <div class="text-100">Spain</div>
                                                <div class="flex align-center gap-column-20px">
                                                    <div class="progress-bar">
                                                        <div class="inner-progress-bar width-15 bg-neutral-200"></div>
                                                    </div>
                                                    <div class="text-100">15%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="w-node-b4227586-6384-6fdc-9144-f788b42bc91b-b42bc8e6" class="pd-20px---52px">
                                        <div class="inner-container _562px">
                                            <div><img src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641e292bf0a60a1a99077f0f_users-by-country-map-dashdark-webflow-template.png" loading="eager" alt="" class="width-100"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    {% include 'partials/baseboard.html' %}

                </div>
            </div>
        </div>
        <div class="loading-bar-wrapper">
            <div class="loading-bar"></div>
        </div>          

        {% include 'partials/scriptboard.html' %}       
        
    </body>
</html>